:root {
	--principalColor: #284B5E;
	--orangeColor: #FFA827;
	--whiteColor: #F9F9F9;
	--blueColor: #21C7DB;
	--greyColor: #AFAFAF;
}
html{
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins';
	margin: 0;
	width: 100%;
	background-color: var(--whiteColor);
}

.navbar {
	overflow: hidden;
	background-color: var(--principalColor);
	position: fixed;
	top: 0;
	width: 100%;
	height: 5%;
	padding-top: 1%;
	display: flex;
	padding-bottom: 1%;
}

.navbarOptions{
	float: right;
	display: block;
	height: 100%;
	padding-right: 5%;
	width: 80%;
}

a{
	text-decoration: none;
	color: var(--whiteColor);
	margin-left: 1%;
	margin-right: 1%;
	padding-left: 1%;
	padding-right: 1%;
	float: right;
}

input[type="text"] {
	background-color: var(--whiteColor);
	border-radius: 1em;
	text-align: center;
	color: var(--greyColor);
	width: 100%;
	transition: all 0.3s ease-in-out;
	font-size: 1em;
	border-color: transparent;
	outline-width: 0
  }
  
  
  input[type="text"]:focus {
	color: var(--principalColor);
  }

  .searchIcon {
	padding: 0.5rem;
  }


.divBuscador{
	width: 90%;
	padding-right: 10%;
}

.divSelect{
	display: flex;
	width: 10%;
	background-color: var(--whiteColor);
	border-radius: 2em;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right:  5%;
	top: 0;
}

.mainBuscador{
	display: flex;
}


.radiobutt{
	display: flex;
	align-items: stretch;
	padding: 20px 0;
}


.navbar a:hover {
	color: var(--blueColor);
}

.main {
	padding-top: 10%;
	background-color: var(--principalColor);
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	
}



.mainImage {
	width: 50%;
	padding-right: 5%;
}

.mainText{
	width: 50%;
	color: var(--whiteColor);
	font-size: 200%;
	padding-left: 10%;
}
#people{
	width: 100%;
}
#logo {
	height: 100%;
	float: left;
	padding-left: 5%;
}

.navbarLogo{
	height: 100%;
	width: 20%;
}


::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--whiteColor);
}

::-webkit-scrollbar-thumb {
	background: var(--orangeColor);
}

::-webkit-scrollbar-thumb:hover {
	background: #ffa927a1;
}



.lupita:hover{
	cursor: pointer;
}

.logoboton{
	height: 100%;
	float: left;
}

.info{
	background-color: var(--whiteColor);
	text-align: center;
	color: var(--principalColor);
	font-weight: bold;
	font-size: 500%;
}

#iniciarSesion{
	background-color: var(--blueColor);
	border-radius: 2em;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right:  5%;
	top: 0;
}

#iniciarSesion:hover{
	color: var(--whiteColor);
	transition: 0.5;
}

.resultadosInmuebles{
	width: 50%;
}

#mapita{
	width: 50%;
	height: 100%;
}

#gugelmaps{
	width: 100%;
	height: 400px;
}

.fichaMuestra{
	margin: 5%;
	padding: 5%;
	border-radius: 1em;
	background-color: white;
	box-shadow: 1px 1px 10px gray;
	transition: all 0.4s ease-in-out;
	display: flex;
}

.imagenMuestra img {
	width: 100%;
	border-radius: 1em;
}

.imagenMuestra{
	width: 40%;
	
}

.infoMuestra{
	width: 60%;
	padding-left: 5%;
}

.fichaMuestra:hover{
	transform: scale(1.1);
	
}

.mainResultados{
	padding-top: 10%;
	background-color: var(--whiteColor);
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	
}

.mainESugerencias{
	padding-top: 10%;
	background-color: var(--whiteColor);
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	
}

.envioSugerencias{
	width: 50%;
}

.ComentariosSugerencias{
	margin: 5%;
	padding: 5%;
	border-radius: 1em;
	background-color: white;
	box-shadow: 1px 1px 10px gray;
	transition: all 0.4s ease-in-out;
	display: flex;
}

.ComentariosSugerencias:hover{
	transform: scale(1.1);
}

#enviar{
	background-color: var(--blueColor);
	border-radius: 2em;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right:  5%;
	top: 0;
}

#enviar:hover{
	color: var(--whiteColor);
	transition: 0.5;
}